/* General Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.atm-container {
  border: 2px solid #007bff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 800px;
  margin-left: auto; 
  margin-right: auto; 
}


/* Form and Input Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f7ff; /* Light blue background for the account balance section */
  padding: 20px;
  width: 100%;
}

#number-input, #mode-select {
  width: 100px; /* Specific width for the number input */
  margin: 10px 0;
}

#submit-input {
  padding: 5px 10px; /* Adjust padding to fit "Submit" text */
  cursor: pointer;
  margin: 10px 0; /* Ensure margin around the button */
}

/* Transaction History Styles */
.transaction-history {
  margin-top: 20px;
  width: 100%;
  background-color: #ffffff; /* White background for transaction history */
}

.transaction-history h2 {
  text-align: center;
}

.transaction-history ul {
  list-style-type: none;
  padding-left: 0;
}

.transaction-list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
}

.transaction-history li {
  display: flex;
  justify-content: space-between;
  list-style-type: none; /* Removes list bullet */
  padding: 5px 0;
  border-bottom: 1px solid #ddd; /* Adds a bottom border for each transaction */
}

.transaction-history li .negative {
  color: red;
}


.transaction-history li:nth-child(even) {
  background-color: #e7f3ff; /* Light blue background every other row */
}

/* Additional Styles */
.label.huge h3 {
  margin-bottom: 5px;
}
